@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --font-doto: "Doto", Doto:wght@100..900;
}

@font-face {
  font-family: 'OCR-A';
  src: url('/fonts/OCR-a___.ttf') format('truetype');
}

body {
  background-color: #080A04
}

.snap-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.hero-section,
.projects-section {
  scroll-snap-align: start; /* Snaps to the top of the section */
  height: 100vh; /* Each section takes full viewport height */
}

.snap-container {
  scroll-behavior: smooth;
}

/* Optional: Hide scrollbar */
.snap-container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.snap-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

@layer utilities {
  @keyframes rotate {
    0% {
      transform : rotate(0deg);
    }
    100% {
      transform : rotate(360deg);
    }
  }

  .animate-rotate {
     animation: rotate 5s linear infinite;
  }
}