@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --font-doto: "Doto", Doto:wght@100..900;
}


body {
  background-color: #080A04
}

@layer utilities {
  @keyframes rotate {
    0% {
      transform : rotate(0deg);
    }
    100% {
      transform : rotate(360deg);
    }
  }

  .animate-rotate {
     animation: rotate 5s linear infinite;
  }
}